<div class="flex static flex-wrap justify-center mt-70 h-90 md:min-h-[570px] w-full bg-white bg-cover bg-center mb-[2600px] md:mb-[1800px] gap-6 md:mt-5">
    <% carditems.each do |carditem| %>
        <div class="flex flex-shrink-0 w-lg md:ml-5 md:mr-5 h-auto min-h-[300px] rounded-4xl bg-no-repeat bg-cover shadow-2xl ml-5" style= "background-position: center; background-image:url('<%= carditem.immagine %>'); background-color: rgba(0,0,0,0.75);">
        <div class=" w-full rounded-4xl h-full" style="background-color: rgba(145, 145, 145, 0.3)">

                <div class=" text-3xl  text-white w-full pt-20 md:pt-80 px-10 font-bold">
                    <%= carditem.titolo %>
                </div>

                <div class=" text-4xl px-10 text-white font-bold pb-10">
                    <%= carditem.anno %>
                </div>

            </div>
        </div>
    <% end %>
</div>