<section class="bg-[#222222] text-white py-16 px-6">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12 text-center">
   
    <div class="flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 10h18M4 10V7a2 2 0 012-2h2a2 2 0 012 2v3m8 0V7a2 2 0 00-2-2h-2a2 2 0 00-2 2v3M3 16h18M5 16v2a1 1 0 001 1h12a1 1 0 001-1v-2" />
      </svg>
      <h3 class="text-xl font-semibold mb-2"> <%= camere %> </h3>
    </div>
  
    <div class="flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 2l3.09 6.26L22 9.27l-5.5 5.36L17.91 22 12 18.77 6.09 22l1.41-7.37L2 9.27l6.91-1.01L12 2z" />
      </svg>
      <h3 class="text-xl font-semibold mb-2"> <%= offerte %> </h3>
    </div>
  
    <div class="flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20 12H4m0 0V6a2 2 0 012-2h12a2 2 0 012 2v6m0 0v6a2 2 0 01-2 2H6a2 2 0 01-2-2v-6m6 0v8m0-8L9.5 9.5m0 0A1.5 1.5 0 0112 8a1.5 1.5 0 012.5 1.5M14 12v8" />
      </svg>
      <h3 class="text-xl font-semibold mb-2"> <%= buoni %> </h3>
    </div>

  </div>
</section>