
<div class="static w-full mb-[340px] md:mb-0">
  <div class="relative w-full md:h-[1050px] h-[600px] " style='background-image: url("/images/sfondoAzienda.jpg"); background-position: center;'>
      <div class="absolute bottom-70 left-10 w-[350px] md:w-[1150px]">
            <h1 class="text-yellow-800 font-bold text-4xl md:text-7xl pb-5"><%= scritta2 %></h1>
            <h1 class="text-yellow-900 font-bold text-xl"><%= scritta1 %></h1>
          <button class="bg-yellow-200 text-yellow-600 font-bold px-10 py-5 rounded-full mt-12"> 
            <a href="/storia" class="text-lg">
              Scopri la Nostra Storia
            </a>
          </button>
      </div>
  </div>
</div>
