<p class="">

<%= render partial: "components/cardiscriviti",
    locals: {
        titolo: "Scrivi la tua mail per richiedere un progetto",
        sottotitolo: "Ti risponderemo il prima possibile!",
        email: "Inserisci indirizzo e-mail",
        iscriviti: "Richiedi",
    }
 %>

</p>