<div class="bg-white pt-10 pb-10 pl-10 border-2 border-gray-300">
<div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-6 gap-8">
  <div class="md:col-span-2">
    <h3 class="text-[20px] font-bold text-gray-900 tracking-wider mb-4"> <%= iscriviti %> </h3>
    <p class="text-gray-500 text-sm mb-4"><%= sconto %></p>
    <div class="flex rounded-md shadow-sm w-full">
      <input type="email" class="appearance-none block w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="<%= iscriviti %>">
      <button type="button" class="bg-yellow-800 hover:bg-yellow-500 text-white font-medium rounded-r-md px-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
  
  <div>
    <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4 pl-20"><%= progetti %></h3>
    <ul class="text-gray-500 text-sm space-y-2 pl-20">
      <li><a href="#" class="hover:text-gray-900">informazioni </a></li>
      <li><a href="#" class="hover:text-gray-900"> world </a></li>
      <li><a href="#" class="hover:text-gray-900"> shortcuts </a></li>
      <li><a href="#" class="hover:text-gray-900"> dashborad </a></li>
      <li><a href="#" class="hover:text-gray-900"> contattaci </a></li>
      <li><a href="#" class="hover:text-gray-900"> il_tuo_account </a></li>
      <li><a href="#" class="hover:text-gray-900"> traccia_il_tuo_ordine </a></li>
      <li><a href="#" class="hover:text-gray-900"> spedizioni_e_consegne </a></li>
      <li><a href="#" class="hover:text-gray-900">Sicurezza prodotto</a></li>
      <li><a href="#" class="hover:text-gray-900">Avvisi e richiami prodotto</a></li>
    </ul>
  </div>

  <div>
    <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4 pl-15"> La Nostra Storia </h3>
    <ul class="text-gray-500 text-sm space-y-2 pl-15">
      <li><a href="#" class="hover:text-gray-900">Guida alle taglie</a></li>
      <li><a href="#" class="hover:text-gray-900">Lavora con noi</a></li>
      <li><a href="#" class="hover:text-gray-900">Area Download</a></li>
      <li><a href="#" class="hover:text-gray-900">Corporate B2B</a></li>
      <li><a href="#" class="hover:text-gray-900">Store Locator</a></li>
      <li><a href="#" class="hover:text-gray-900">Dichiarazioni di conformità e Note Informative</a></li>
      <li><a href="#" class="hover:text-gray-900">Bilanci di Sostenibilità - Archivio</a></li>
    </ul>
  </div>

  <div>
    <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4 pl-15"> I nostri Social </h3>
    <ul class="text-gray-500 text-sm space-y-2 pl-15">
      <li><a href="#" class="hover:text-gray-900">Facebook</a></li>
      <li><a href="#" class="hover:text-gray-900">Instagram</a></li>
      <li><a href="#" class="hover:text-gray-900">Twitter</a></li>
      <li><a href="#" class="hover:text-gray-900">T</a></li>
    </ul>
  </div>

</div>
</div>